.rounded-searchbar {
    border-radius: 17px !important;
}

.fixed-image {
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}